.container {
  display: grid;
  margin: 0;
  grid-template-rows: 100px auto 100px;
  grid-template-columns: 5% 60% 1fr;
  column-gap: 3%;
}


#main-destinations {
	grid-row-start: 2;
	grid-column-start: 2;
	display: grid;
	grid-template-rows: 3;
}


section {
	grid-row-start: 1;
}

.places-section {
  grid-row-start:2;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.place-tiles {
	grid-row-start:2;
	display: grid;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
  	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.bottom-cta {
	margin-top: 50px;
	grid-row-start:3;
	text-align: center;
}


aside {
	grid-row-start: 2;
	grid-column-start: 3;
}

#location-tile img {
  border-radius: 10px;
  width: 300px;
}
