<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Before you go｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li><a href="/why-pack-light">Why pack light</a></li>
          <li><a href="/what-to-bring">What to bring</a></li>
          <li><a href="/what-to-wear">What to wear</a></li>
          <li><a href="/where-to-go">Where to go</a></li>
          <li class="active"><a href="/before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-others">
      <section>
        <h1>
          Before you go
        </h1>
        <p>
          Before setting off, there are a few important things to do to make sure your trip is as comfortable,
          fun, and safe as possible. See below a few of our top tips for getting the most out of it.
        </p>
      </section>
      <article>
        <h2>
          Let someone know your plans
        </h2>
        <img src="/images/callsomeone.png" class="large-centre-img">
        <p>
          <b>Call someone</b> and tell them your plans and how long you plan to take. 
          When at camp, you can also send your coordinates with <a href="https://what3words.com">what3words.com</a>
        </p>
      </article>
      <article>
        <h2>
          Complete a checklist
        </h2>
        <img src="/images/checklist.png" class="large-centre-img">
        <p>
         Create a <b>checklist</b> of everything you need, and double check it.
       </p>
     </article>
     <article>
      <h2>
        Identify exit points
      </h2>
      <img src="/images/escape.png" class="large-centre-img">
      <p>
        Before you set off, look at exit points where you can <b>leave the route</b> if you get too tired. 
        You can mark these on a trail app such as <a href="https://hiiker.app">hiiker</a>
      </p>
    </article>
    <article>
      <h2>
        Test your equipment
      </h2>
      <img src="/images/compass.png" class="large-centre-img">
      <p>
        Only bring tools you know how to use. <b>test everything in advance</b>, including pitching your shelter.
      </p>
    </article>
    <article>
      <h2>
        Identify your water sources
      </h2>
      <img src="/images/water.png" class="large-centre-img">
      <p>
        Related to the above, make sure you have done your research on <b>water filling points</b> along your route. 
        Bring plenty to sustain you if water filling opportunities are infrequent.
      </p>
    </article>
    <article>
      <h2>
        Check your cooking gas
      </h2>
      <img src="/images/gas.png" class="large-centre-img">
      <p>
        Check how much gas is left in your canister to cook with! If you know the empty canister weight, 
        you can weigh the canister with gas to know a rough amount of gas remaining for your trip. 
      </p>
    </article>
  </main>
  <aside id="sidebar">
    <div class="cta-box" id="internal-cta">
      <p>
        Still have questions or doubts about setting off? See some Frequently Asked Questions below.
      </p>
      <a href="/what-to-bring" class="cta-box-link">FAQ</a>
    </div>
    <div class="cta-box" id="external-cta">
      <p>
       The essentials for safety in camping and hiking are commonly categorised to as the Ten Essentials. See a full list below.
     </p>
     <a href="https://www.nps.gov/articles/10essentials.htm" class="cta-box-link">Ten Essentials</a>
   </div>
 </aside>
 {% include "footer.njk" %}
</div>
</body>
</html>