<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Frequently Asked Questions｜Litepack Ireland</title>
</head>
<body>
 <div class="container">
  <header>
    <nav>
      <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
      <ul id="menu">
        <li><a href="/why-pack-light">Why pack light</a></li>
        <li><a href="/what-to-bring">What to bring</a></li>
        <li><a href="/what-to-wear">What to wear</a></li>
        <li><a href="/where-to-go">Where to go</a></li>
        <li><a href="/before-you-go">Before you go</a></li>
      </ul>
    </nav>
  </header>
  <main id="main-others">
    <h1>
      Frequently Asked Questions
    </h1>
    <br>
    <article>
      <h2>
        I’m a novice. What if I get lost? 
      </h2>
      <p>
       While there is always some danger inherent in hiking and wild camping, the same can be 
       true of many activities! Many of Ireland’s most popular trails are well-signposted, 
       and are frequently visited by other hikers. Apps such as Hiiker and Wikiloc can provide 
       offline maps and other useful, easy-to-use tools. It’s worth remembering that in Ireland, 
       civilisation and safety is never far away. For peace of mind, follow the 
       <a href=”C:\dev\web-development\assignment\before-you-go.html”>Before You Go</a> page guidelines, and also save mountain 
       rescue numbers to your phone just in case.
     </p>
     <br>
   </article>
   <article>
    <h2>
      What if I’m missing a bit of kit?
    </h2>
    <p>
     In Ireland you are very unlikely to need any expensive (and heavy) survival gear. 
     If you feel you can’t do without a certain item – bring it! The hike is supposed to be 
     fun. If the pack feels heavy, you can look at reducing the weight of one of your Big 
     Four for maximum weight savings.
   </p>
   <br>
 </article>
 <article>
  <h2>
    I’m just going on a day hike. Should I still try to pack light?
  </h2>
  <p>
   While getting very efficient weight savings is primarily aimed at those carry 
   out longer and multi-day hikes, the guiding principles of light packing can still 
   help you have a more comfortable hike, even if you only intend to walk a few miles. 
   Perhaps swap your metal water bottle for a disposable plastic one, and wear light 
   trainers rather than heavy boots, depending on terrain.
 </p>
 <br>
</article>
<article>
  <h2>
    How light should I go?
  </h2>
  <p>
   This is entirely dependent on what you feel comfortable with, and depends on your 
   experience, bodyweight, how far you plan to hike, and other factors. Make sure 
   whatever you choose to do, you feel comfortable and safe with.
 </p>
 <br>
</article>
<aside class="tip">
  <p>Good luck, and have fun!</p>
</aside> 
</main>
{% include "footer.njk" %}
</div>
</body>
</html>