<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Home｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/index"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li><a href="/why-pack-light">Why pack light</a></li>
          <li><a href="/what-to-bring">What to bring</a></li>
          <li><a href="/what-to-wear">What to wear</a></li>
          <li><a href="/where-to-go">Where to go</a></li>
          <li><a href="/before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-home">
      <h1 class="home-text">
        Go farther and faster exploring Ireland’s trails, by safely
        reducing your pack weight.
      </h1>
      <br>
      <a href="/why-pack-light" class="button-large">Get Started</a>
    </main>
    {% include "footer.njk" %}
  </div>
</body>
</html>