<html>
<head>
  <link rel="stylesheet" href="/css/items-pages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>What to bring｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li><a href="/why-pack-light">Why pack light</a></li>
          <li class="active"><a href="/what-to-bring">What to bring</a></li>
          <li><a href="/what-to-wear">What to wear</a></li>
          <li><a href="/where-to-go">Where to go</a></li>
          <li><a href="/before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-items">
      <section>
        <h1>
          What to bring
        </h1>
        <p>
          The temptation to pack everything but the kitchen sink before setting off on a hike can be strong. Look on any online camping store and you’ll be greeted by thousands of bits of gear and gadgets. But for hiking in Ireland, particularly if following waymarked trails, you can leave behind a lot of heavy equipment and make serious weight savings.
        </p>
        <p>
          The list below covers the key bits of equipment and food you’ll need before a multi-day hike, and where you can cut down on your pack weight.
        </p>
      </section>
      <div class="item-sections">
        <section>
          <h2>
            The Big Four
          </h2>
          <p>
            The majority of your pack weight savings can be made through four key items – shelter, sleeping bag, sleeping mat, and rucksack. Cutting weight elsewhere will be negligible in comparison. 
          </p>
        </section>
        <aside class="tip">
          NOTE: Buying very light items for your Big Four will be the most expensive aspect of packing light – it is recommended to buy as light as you can afford with one item, before deciding on any further purchases.
        </aside>
        <article class="item">
          <h3>
            Sleeping mat
          </h3>
          <img src="/images/pad.png" class="medium-left-img">
          <p>
            As one of the cheaper ways to reduce weight this is a recommended first upgrade. Often overlooked as important items, mats are essential to stay insulated from the cold ground. Choose a sleeping mat with R Value (insulation level) appropriate for Ireland. 
          </p>
        </article>
        <aside class="tip">
          Tip – Although bulky, foam mats can be a more budget-friendly option than inflated mats, and can be tied to the outside of packs. 
        </aside>
        <article class="item">
          <h3>
            Sleeping bag
          </h3>
          <img src="/images/sleepingbag.png" class="medium-left-img">
          <p>
            Down sleeping bags typically have the best weight vs warmth, and nowadays are typically treated to have better waterproofing than older models. They are more expensive though. If you only plan to camp in summer, choose a 1-season bag for more budget-friendly weight savings.
          </p>
        </article>
        <aside class="tip">
          Tip – backpacking quilts can save even more weight! These don’t cover your bottom half and so aren’t as bulky or heavy as sleeping bags
        </aside>
        <article class="item">
          <h3>
            Shelter
          </h3>
          <img src="/images/tent.png" class="medium-left-img">
          <p>
            Tents are a typical lighter option, but take some practice to assemble using trekking poles. Switching tent to one for the number of sleepers e.g. from 2 person to 1 person will also reduce weight.
          </p>
        </article>
        <aside class="tip">
          Tip – Go even lighter using a tarp! Ireland’s trails often have forest sections to provide more cover and help with tarp setup
        </aside>
        <article class="item">
          <h3>
            Rucksack
          </h3>
          <img src="/images/rucksack.jpg" class="medium-left-img">
          <p>
            Often forgotten when considering pack weight, lighter packs can often be 2kg lighter than bulky models. Frameless models, despite appearing flimsy, can be much lighter – and can support your items when they are sufficiently lightened.
          </p>
        </article>
        <aside class="tip">
          Tip – Buy this last, as you won’t know how big a bag is required to carry your other items until you have everything else gathered.
        </aside>
        <section>
          <h2>
            Food and water
          </h2>
          <p>
            After the items above, food and water will be the heaviest items you carry. You should aim to carry around 1kg of food per day. Water is not something to skimp on and you should always plan to ensure you have plenty of water, aiming to carry around 2 litres at a time, or 1 litre where there are plentiful refill points.
          </p>
        </section>
        <article class="item">
          <h3>
            Water
          </h3>
          <img src="/images/filter.png" class="medium-left-img">
          <p>
            Having plentiful water is the most important thing to get right on your hike.  Luckily, you’re unlikely to encounter any deserts or tropical climates in Ireland, and there are plenty of rivers to stock up! The Sawyer Mini water filter is inexpensive and lightweight. Taking that, with filtration tablets as backup will let you fill up from most sources. 
          </p>
        </article>
        <aside class="tip">
          Tip – Drink as much water as you can at each refill to stay hydrated
        </aside>
        <article class="item">
          <h3>
            Food
          </h3>
          <img src="/images/driedfood.jpeg" class="medium-left-img">
          <p>
            There’s nothing wrong with carrying some of your favourite food and drink on the trail, but if you want to travel light, dried food is the way to go! After a long day walking, it will taste delicious anyway!
          </p>
        </article>
        <aside class="tip">
          Tip – While camping stores sell fancy dried meals, they are often overpriced. Dried pasta dishes from supermarkets do the same job
        </aside>
        <article class="item">
          <h3>
            Cooking
          </h3>
          <img src="/images/pocketrocket.jpg" class="medium-left-img">
          <p>
            Leave the cast iron pot at home! If cooking for 1-2 people, a small titanium pot, camping stove and a small fuel canister should be enough for a couple of days of meals.
          </p>
        </article>
        <aside class="tip">
          Tip – Eat from the same pot you cook in, and use the spoon you stirred with!
        </aside>
        <section>
          <h2>
            Other items
          </h2>
          <p>
            While it’s important not to leave items behind which may compromise safety, you probably don’t need all the kit you think you do.
          </p>
          <ul class="list-no-style">
            <li><b>First aid</b> – while essential, you don’t need 50 plasters! You can reduce the size of your kit depending on hike length</l>
              <li><b>Navigation</b> – If you can read a map, bring a small compass and print a map for your destination. Alternatively, download an app such as Hiiker to use offline maps, and set your phone to airplane mode</li>
              <li><b>Power pack</b> – essential for any multi-day trips, particularly if you’re using your phone for navigation</li>
              <li><b>GPS</b> – while good for peace of mind, normally not essential for an Irish hike as civilisation is likely to be nearby.</li>
              <li><b>Headtorch</b> – cheap options should suffice, but pack extra batteries. Heavy handheld torches are not needed</li>
              <li><b>Luxuries</b> – if a book, speaker, or pillow will bring you joy on your hike, don’t leave it behind! Just factor in the item’s weight so it doesn’t bring you down.</li>
            </ul>
          </section>
        </div>
        <div class="bottom-cta">
          <p>
            Packed? Let's get dressed!
          </p>
          <a href="/what-to-wear" class="button-small">Discover what to wear</a>
          <br>
          <br>
        </div>
      </main>
      <aside id="sidebar">
        <div class="cta-box" id="internal-cta">
          <p>
            Already have your gear sorted? Time to pick the right clothing items for your trip.
          </p>
          <a href="/what-to-wear" class="cta-box-link">What to wear</a>
        </div>
        <div class="cta-box" id="external-cta">
          <p>
           Are you crafty and want to make your own gear? The Reddit Make Your Own Gear commnunity can help!
         </p>
         <a href="https://www.reddit.com/r/myog/" class="cta-box-link">r/myog</a>
       </div>
     </aside>
     {% include "footer.njk" %}
  </div>
</body>
</html>