<html>
<head>
  <link rel="stylesheet" href="/css/items-pages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>What to wear｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li><a href="/why-pack-light">Why pack light</a></li>
          <li><a href="/what-to-bring">What to bring</a></li>
          <li class="active"><a href="/what-to-wear">What to wear</a></li>
          <li><a href="/where-to-go">Where to go</a></li>
          <li><a href="/before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-items">
      <section>
        <h1>
          What to wear
        </h1>
        <p>
          Despite the changeable weather, hiking in Ireland does not mean you need to pack a wardrobe full of survival gear. The key is LAYERS – and accepting you might get wet! The main factors here are:
        </p>
        <ul class="list-no-style">
          <li><b>Pack for the weather</b> – if the weather forecast says sunshine all weekend, leave the heavy raincoat at home</li>
          <li><b>Use what you already have</b> – you’re likely to have some or all of these items at home</li>
          <li><b>Don’t plan to be squeaky clean</b> – on the trail, no one is judging you! No need for multiple outfit changes</li>
        </ul>
        <h2>
          Overview
        </h2>
        <p>
          Watch below as ultralight hiking legend Andrew Skurka outlines his Core 13 clothing items for most seasons.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Do9wxnTgRDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </section>
      <div class="item-sections">
        <article class="item">
          <h3>
            Base layer
          </h3>
          <img src="/images/baselayer.png" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>For:</b> Warmth, insulation, moisture wicking</li>
            <li><b>Materials:</b> Synthetic or merino wool</li>
            <li><b>Essential?</b> Yes. Bring 1-2 spares if you have weight to spare</li>
          </ul>
        </article>
        <article class="item">
          <h3>
            Mid layer
          </h3>
          <img src="/images/midlayer.png" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>For:</b> Trapping warmth</li>
            <li><b>Materials:</b> Fleece, synthetic</li>
            <li><b>Essential?</b> In Ireland, yes</li>
          </ul>
        </article>
        <article class="item">
          <h3>
            Insulation layer
          </h3>
          <img src="/images/insulation.png" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>For:</b> Extra warmth, particularly at camp</li>
            <li><b>Materials:</b> Down puffer</li>
            <li><b>Essential?</b> Not in spring/summer</li>
          </ul>
        </article>
        <article class="item">
          <h3>
            Hard shell
          </h3>
          <img src="/images/hardshell.png" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>For:</b> Heavy rain and wind</li>
            <li><b>Materials:</b> Goretex</li>
            <li><b>Essential?</b> No – lighter rain jacket is better for showers</li>
          </ul>
        </article>
        <article class="item">
          <h3>
            Leg cover
          </h3>
          <img src="/images/trouser.png" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>For:</b> Keeping dry, comfort</li>
            <li><b>Materials:</b> Polyester, synthetic</li>
            <li><b>Essential?</b> Hiking trousers are not needed. Many hike in whatever shorts or track bottoms they have available</li>
          </ul>
        </article>
        <article class="item">
          <h3>
            Shoes
          </h3>
          <img src="/images/trailrunner.png" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>For:</b> Breathability, comfort</li>
            <li><b>Styles:</b> trailrunners or goretex shoes</li>
            <li><b>Essential?</b> Trainers may be enough for your trail. When water enters Goretex shoes, they are hard to get dry so mesh options often better</li>
          </ul>
        </article>
        <article class="item">
          <h3>
            Socks and underwear
          </h3>
          <img src="/images/socks.png" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>For:</b> Moisture wicking, comfort</li>
            <li><b>Materials:</b> Merino socks, synthetic underwear</li>
            <li><b>Essential?</b> Absolutely! Bring 2 spares of each and a dry set for bed</li>
          </ul>
        </article>
        <article class="item">
          <h3>
            Other items
          </h3>
          <img src="/images/poncho.jpg" class="medium-left-img">
          <ul class="list-no-style">
            <li><b>Hat and gloves </b> - Use what you have </li>
            <li><b>Gaters</b> – If walking through long wet grass or stony areas, these can help keep water and debris out of your shoes</li>
            <li><b>Rain poncho</b> – The super-lightweight style found at festivals can replace a coat if only showers are expected</li>
          </ul>
        </article>
        <aside class="bottom-cta">
          <p>
            You’re all set – now let’s pick a destination. 
          </p>
          <a href="/where-to-go" class="button-small">Choose where to go</a>
          <br>
          <br>
        </aside>
      </div>
    </main>
    <aside id="sidebar">
      <div class="cta-box" id="internal-cta">
        <p>
          Ireland has so much to offer for hikers of all abilities. Click below to see some of the country's best trails.
        </p>
        <a href="/where-to-go" class="cta-box-link">Where to go</a>
      </div>
      <div class="cta-box" id="external-cta">
        <p>
         If you want to work ut just how light your pack is, Lighterpack is a great free calculator.
       </p>
       <a href="https://lighterpack.com/welcome" class="cta-box-link">Visit Lighterpack</a>
     </div>
   </aside>
   {% include "footer.njk" %}
</div>
</body>
</html>
