<html>
<head>
  <link rel="stylesheet" href="/css/where-to-go.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Where to go｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li><a href="/why-pack-light">Why pack light</a></li>
          <li><a href="/what-to-bring">What to bring</a></li>
          <li><a href="/what-to-wear">What to wear</a></li>
          <li class="active"><a href="/where-to-go">Where to go</a></li>
          <li><a href="/before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-destinations">
      <section>
        <h1>
          Where to go
        </h1>
        <p>
         Ireland has some of the most beautiful and rugged scenery in the world to explore by foot. See below a selection of some of our best trails for all skill levels.
       </p>
     </section>
     <div class="places-section">
      <article id="location-tile">
        <img src="/images/ulster.jpg" class="medium-rounded-img">
        <h2>
          Ulster Way
        </h2>
        <ul class="list-no-style">
          <li><b>Location</b> All around Ulster</l>
            <li><b>Distance</b> 1024km</li>
            <li><b>Difficulty</b> Moderate</li>
          </ul>
          <a href="/where-to-go/ulster-way" class="button-small">Find out more</a>
        </article>
        <article id="location-tile">
          <img src="/images/beara.jpg" class="medium-rounded-img">
          <h2>
            Beara Way
          </h2>
          <ul class="list-no-style">
            <li><b>Location</b> Cork</l>
              <li><b>Distance</b> ~206km</li>
              <li><b>Difficulty</b> Moderate</li>
            </ul>
            <a href="/where-to-go/beara-way" class="button-small">Find out more</a>
          </article>
          <article id="location-tile">
            <img src="/images/galtee.jpg" class="medium-rounded-img">
            <h2>
              Galtees
            </h2>
            <ul class="list-no-style">
              <li><b>Location</b> Tipperary/Limerick</l>
                <li><b>Distance</b> ~48km</li>
                <li><b>Difficulty</b> Hard</li>
              </ul>
              <a href="/where-to-go/galtee-mountains" class="button-small">Find out more</a>
            </article>
            <article id="location-tile">
              <img src="/images/dingle.jpg" class="medium-rounded-img">
              <h2>
                Dingle Way
              </h2>
              <ul class="list-no-style">
                <li><b>Location</b> Kerry</l>
                  <li><b>Distance</b> 176km</li>
                  <li><b>Difficulty</b> Moderate</li>
                </ul>
                <a href="/where-to-go/dingle-way" class="button-small">Find out more</a>
              </article>
              <article id="location-tile">
                <img src="/images/slieve-bloom.jpg" class="medium-rounded-img">
                <h2>
                  Slieve Bloom
                </h2>
                <ul class="list-no-style">
                  <li><b>Location</b> Laois/Offaly</l>
                    <li><b>Distance</b> 70km</li>
                    <li><b>Difficulty</b> Hard</li>
                  </ul>
                  <a href="/where-to-go/slieve-bloom-way" class="button-small">Find out more</a>
                </article>
                <article id="location-tile">
                  <img src="/images/wicklow.jpg" class="medium-rounded-img">
                  <h2>
                    Wicklow Way
                  </h2>
                  <ul class="list-no-style">
                    <li><b>Location</b> Dublin/Wicklow/Carlow</l>
                      <li><b>Distance</b> 127km</li>
                      <li><b>Difficulty</b> Moderate</li>
                    </ul>
                    <a href="/where-to-go/wicklow-way" class="button-small">Find out more</a>
                  </article>
                </div>
                <div class="bottom-cta">
                  <p>
                    We have some final tips before you set off!
                  </p>
                  <a href="/before-you-go" class="button-small">Before you go</a>
                  <br>
                  <br>
                </div>
              </main>
              <aside id="sidebar">
                <div class="cta-box" id="internal-cta">
                  <p>
                    Don't set off just yet! Read our top tips for making sure your 
                    trip is safe and rewarding.
                  </p>
                  <a href="/before-you-go" class="cta-box-link">Before you go</a>
                </div>
                <div class="cta-box" id="external-cta">
                  <p>
                   Looking for somewhere else to go?
                   The Wikiloc website hosts user-submitted trails and is free to sign up!
                 </p>
                 <a href="https://www.wikiloc.com/" class="cta-box-link">Visit Wikiloc</a>
               </div>
             </aside>
             {% include "footer.njk" %}
          </div>
        </body>
        </html>