<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Why pack light?｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li class="active"><a href="/why-pack-light">Why pack light</a></li>
          <li><a href="/what-to-bring">What to bring</a></li>
          <li><a href="/what-to-wear">What to wear</a></li>
          <li><a href="/where-to-go">Where to go</a></li>
          <li><a href="./before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-others">
      <section>
        <h1>
          Why pack light?
        </h1>
        <p>
          When wild camping and completing multi-day hikes, every extra kilo counts. There is a whole plethora equipment the typical hiker will have with them – tent, clothes, food, cooking equipment, sleeping equipment and more. This can quickly take its toll if carrying bulky and heavy equipment. 
        </p>
      </section>
      <article>
        <h2>Light packing principles</h2>
        <p>
          The principles of packing light, with the extreme end known ‘ultralight’, was pioneered in the US by hikers completing long distance hikes such as the ~4300km Pacific Coast Trail. Irish hikers may not have quite the same distances to worry about, but the principles can greatly improve the enjoyment of enjoying the many trails our island has to offer! The video below from Salomon provides a good overview of the principles.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZPHMw9rSW18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>
          <b>Packing light has a number of immediate benefits:</b>
        </p>
        <ul class="list-no-style">
          <li>Go farther than you could before without getting fatigued.</l>
            <li>If you’re short on time, get to your destination faster</li>
            <li>Reduce your chance of injury</li>
            <li>More comfort and freedom as you won’t be so weighed down!</li>
          </ul>
        </article>
        <article>
          <h2>Pack weights</h2>
          <p>
           A rough rule of thumb for different pack weights for a two day hike including food and water can be found below: 
         </p>
         <table>
          <tr>
            <th>Level</th>
            <th>Weight</th>
          </tr>
          <tr>
            <td>Ultralight</td>
            <td><9kg</td>
          </tr>
          <tr>
            <td>Light</td>
            <td>11kg</td>
          </tr>
        </tr>
        <tr>
          <td>Average</td>
          <td>15kg</td>
        </tr>
      </tr>
      <tr>
        <td>Heavy</td>
        <td>>18kg</td>
      </tr>
    </table>
  </article>
  <article>
    <h2>Why pack light in Ireland?</h2>
    <p>
      Ireland has a number of advantages that facilitate packing light compared to countries with different terrains and climates:
    </p>
    <ul>
      <li>No need for mosquito nets, bear canisters, or other bulky equipment to deter animals or critters</li>
      <li>Relatively mild climate, so packing for extreme cold temperatures is rarely needed</li>
      <li>The most remote part of the country (Nephin Beg Mountains, Mayo) is still only 6km from the nearest road – meaning the chances of being stranded or in danger due to missing equipment is relatively low.</li>
    </ul>
  </article>
  <div class="bottom-cta">
    <p>
      Convinced on packing light? Start gathering your equipment! 
    </p>
    <a href="/what-to-bring" class="button-small">Find out what to bring</a>
    <br>
    <br>
    <br>
  </div>
</main>
<aside id="sidebar">
  <div class="cta-box" id="internal-cta">
    <p>
      Getting started with the right equipment can be daunting. Let us talk the work out of it!
    </p>
    <a href="/what-to-bring" class="cta-box-link">What to bring</a>
  </div>
  <div class="cta-box" id="external-cta">
    <p>
     The internet has a huge range of blogs and articles to help with packing light. Click below for one example!
   </p>
   <a href="https://backpackinglight.com/" class="cta-box-link">backpackinglight.com</a>
 </div>
</aside>
{% include "footer.njk" %}
</body>
</html>
