<footer>
  <ul id="footer-menu">
    <li><a href="/faq">FAQ</a></li>
    <li><a href="mailto: 20104299@mail.wit.ie">20104299@mail.wit.ie</a></li>
    <li>© Peadar Ó Raifeartaigh</li>
  </ul>
</footer>