<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Dingle Way｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/index"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li><a href="/why-pack-light">Why pack light</a></li>
          <li><a href="/what-to-bring">What to bring</a></li>
          <li><a href="/what-to-wear">What to wear</a></li>
          <li class="active"><a href="/where-to-go">Where to go</a></li>
          <li><a href="/before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <nav id="destinations-nav">
      <ul id="destinations-menu">
        <li><a href="/where-to-go/ulster-way">Ulster Way</a></li>
        <li><a href="/where-to-go/beara-way">Beara Way</a></li>
        <li><a href="/where-to-go/galtee-mountains">Galtee Mountains</a></li>
        <li id="active-2"><a href="/where-to-go/dingle-way">Dingle Way</a></li>
        <li><a href="/where-to-go/slieve-bloom-way">Slieve Bloom Way</a></li>
        <li><a href="/where-to-go/wicklow-way">Wicklow Way</a></li>
      </ul>
    </nav>
    <main id="main-others">
      <h1>
        Dingle Way
      </h1>
      <iframe frameBorder="0" scrolling="no" src="https://www.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=1959095&measures=off&title=off&near=off&images=off&maptype=H" width="500" height="400"></iframe>
      <p>
        Taking in the entire Dingle Peninsula, this Kerry route takes in some of the country’s 
        most dramatic coastlines which you’ll be walking alongside throughout. 
      </p>
      <aside class="tip">
        Some if Ireland’s best pubs can be found on this trail
      </aside>
      <p>
       The whole route takes 8-9 days, or it can be joined at a number of locations which 
       are convenient to reach from Tralee, or started directly from Tralee itself, making 
       it a good choice for those using public transport.
     </p>
     <a href="/where-to-go" class="button-small">< Back to destinations</a>
     <br>
     <br>
     <br>
   </main>
   <aside id="sidebar">
    <div class="cta-box" id="internal-cta">
      <p>
        Click here to go back to the destinations main page
      </p>
      <a href="/where-to-go" class="cta-box-link">Where to go</a>
    </div>
    <div class="cta-box" id="external-cta">
      <p>
       Find more information on this route here
     </p>
     <a href="https://www.dingleway.com/" class="cta-box-link">More info</a>
   </div>
 </aside>
 {% include "footer.njk" %}
</body>
</html>