<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Galtee Mountains｜Litepack Ireland</title>
</head>
<body>
 <div class="container">
  <header>
    <nav>
      <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
      <ul id="menu">
        <li><a href="/why-pack-light">Why pack light</a></li>
        <li><a href="/what-to-bring">What to bring</a></li>
        <li><a href="/what-to-wear">What to wear</a></li>
        <li class="active"><a href="/where-to-go">Where to go</a></li>
        <li><a href="/before-you-go">Before you go</a></li>
      </ul>
    </nav>
  </header>
  <nav id="destinations-nav">
    <ul id="destinations-menu">
      <li><a href="/where-to-go/ulster-way">Ulster Way</a></li>
      <li><a href="/where-to-go/beara-way">Beara Way</a></li>
      <li id="active-2"><a href="/where-to-go/galtee-mountains">Galtee Mountains</a></li>
      <li><a href="/where-to-go/dingle-way">Dingle Way</a></li>
      <li><a href="/where-to-go/slieve-bloom-way">Slieve Bloom Way</a></li>
      <li><a href="/where-to-go/wicklow-way">Wicklow Way</a></li>
    </ul>
  </nav>
  <main id="main-others">
    <h1>
      Galtee Mountains
    </h1>
    <iframe frameBorder="0" scrolling="no" src="https://www.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=27842788&measures=off&title=off&near=off&images=off&maptype=H" width="500" height="400"></iframe>
    <p>
      The Galtees are Ireland’s largest inland mountain range. This trail will take you from Cahir in Tipperary, to Mitchelstown, County Cork. The peak, Galtymore, is considered both Tipperary and Limerick’s highest point!
    </p>
    <aside class="tip">
      Galtymore is the point you can see the most of Ireland from!
    </aside>
    <p>
      This challenging walk can be done in a day, or you can camp overnight and break it into two trips. As there are very few places to fill water on the trail, it’s recommended you stock up and carry the water you need.
    </p>
    <a href="/where-to-go" class="button-small">< Back to destinations</a>
    <br>
    <br>
    <br>
  </main>
  <aside id="sidebar">
    <div class="cta-box" id="internal-cta">
      <p>
        Click here to go back to the destinations main page
      </p>
      <a href="/where-to-go" class="cta-box-link">Where to go</a>
    </div>
    <div class="cta-box" id="external-cta">
      <p>
       Find more information on this route here
     </p>
     <a href="https://www.activeme.ie/guides/galtee-mountains-loop-glen-of-aherlow-munster-vales-tipperary-irelands-ancient-east/#:~:text=The%20GALTEE%20Mountain%20North%20Horseshoe,the%20best%20mountain%20walks%20in" class="cta-box-link">More info</a>
   </div>
 </aside>
 {% include "footer.njk" %}
</body>
</html>