<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Slieve Bloom Way｜Litepack Ireland</title>
</head>
<body>
 <div class="container">
  <header>
    <nav>
      <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
      <ul id="menu">
        <li><a href="/why-pack-light">Why pack light</a></li>
        <li><a href="/what-to-bring">What to bring</a></li>
        <li><a href="/what-to-wear">What to wear</a></li>
        <li class="active"><a href="/where-to-go">Where to go</a></li>
        <li><a href="/before-you-go">Before you go</a></li>
      </ul>
    </nav>
  </header>
  <nav id="destinations-nav">
    <ul id="destinations-menu">
      <li><a href="/where-to-go/ulster-way">Ulster Way</a></li>
      <li><a href="/where-to-go/beara-way">Beara Way</a></li>
      <li><a href="/where-to-go/galtee-mountains">Galtee Mountains</a></li>
      <li><a href="/where-to-go/dingle-way">Dingle Way</a></li>
      <li id="active-2"><a href="/where-to-go/slieve-bloom-way">Slieve Bloom Way</a></li>
      <li><a href="/where-to-go/wicklow-way">Wicklow Way</a></li>
    </ul>
  </nav>
  <main id="main-others">
    <h1>
      Slieve Bloom Way
    </h1>
    <iframe frameBorder="0" scrolling="no" src="https://www.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=73652356&measures=off&title=off&near=off&images=off&maptype=H" width="500" height="400"></iframe>
    <p>
      Encompassing parts of counties Laois and Offaly, this challenging route is not for the faint hearted. A good deal of climbing is required, typically taking hikers 3 days and a decent fitness level.
    </p>
    <aside class="tip">
      The route is heavily forested, making it a good hike for pitching with hammocks or tarps
    </aside>
    <p>
     Walkers will complete a total elevation of 1250m, with the highest peak, Arderin, sitting at 527m.
   </p>
   <a href="/where-to-go" class="button-small">< Back to destinations</a>
   <br>
   <br>
   <br>
 </main>
 <aside id="sidebar">
  <div class="cta-box" id="internal-cta">
    <p>
      Click here to go back to the destinations main page
    </p>
    <a href="/where-to-go" class="cta-box-link">Where to go</a>
  </div>
  <div class="cta-box" id="external-cta">
    <p>
     Find more information on this route here
   </p>
   <a href="https://slievebloom.ie/walk/slieve-bloom-way" class="cta-box-link">More info</a>
 </div>
</aside>
{% include "footer.njk" %}
</body>
</html>