<html>
<head>
  <link rel="stylesheet" href="/css/otherpages.css">
  <link rel="icon" type="x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <title>Wicklow Way｜Litepack Ireland</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/"><img src="/images/logo.svg" alt="logo" id="logo"/></a>
        <ul id="menu">
          <li><a href="/why-pack-light.">Why pack light</a></li>
          <li><a href="/what-to-bring">What to bring</a></li>
          <li><a href="/what-to-wear">What to wear</a></li>
          <li class="active"><a href="/where-to-go">Where to go</a></li>
          <li><a href="/before-you-go">Before you go</a></li>
        </ul>
      </nav>
    </header>
    <nav id="destinations-nav">
      <ul id="destinations-menu">
        <li><a href="/where-to-go/ulster-way">Ulster Way</a></li>
        <li><a href="/where-to-go/beara-way">Beara Way</a></li>
        <li><a href="/where-to-go/galtee-mountains">Galtee Mountains</a></li>
        <li><a href="/where-to-go/dingle-way">Dingle Way</a></li>
        <li><a href="/where-to-go/slieve-bloom-way">Slieve Bloom Way</a></li>
        <li id="active-2"><a href="/where-to-go//wicklow-way">Wicklow Way</a></li>
      </ul>
    </nav>
    <main id="main-others">
      <h1>
        Slieve Bloom Way
      </h1>
      <iframe frameBorder="0" scrolling="no" src="https://www.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=7131682&measures=off&title=off&near=off&images=off&maptype=H" width="500" height="400"></iframe>
      <p>
        Ireland’s first formally established walking route, 
        the Wicklow Way is one of Ireland’s best known and most loved routes. 
        The route begins on the outskirts of Dublin, crossing the Wicklow mountains to finish at Clonegal, county Carlow.
      </p>
      <aside class="tip">
        A number of Adirondack shelters can be found on the trail where you can shelter without a tent and light a fire
      </aside>
      <p>
       Despite being a popular route, the stages after Glendalough can be quiet, 
       and can still provide a real escape, be it from Dublin city or elsewhere.
     </p>
     <a href="/where-to-go" class="button-small">< Back to destinations</a>
     <br>
     <br>
     <br>
   </main>
   <aside id="sidebar">
    <div class="cta-box" id="internal-cta">
      <p>
        Click here to go back to the destinations main page
      </p>
      <a href="/where-to-go" class="cta-box-link">Where to go</a>
    </div>
    <div class="cta-box" id="external-cta">
      <p>
       Find more information on this route here
     </p>
     <a href="https://www.wicklowway.com/" class="cta-box-link">More info</a>
   </div>
 </aside>
 {% include "footer.njk" %}
</body>
</html>